
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Contact</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

     <section class="form-section" >
	  <div class="overlay"></div>
	   <div class="container">

	    <div class="row">
		 <div class="col-md-4">
		    <div class="contact-box">
              <ul class="list-inline">
			    <li>
                   <div class="contact">
				     <i class="fa fa-map-marker" aria-hidden="true"></i>
					 <p> Tunis <br> 10435 Ariana </p>
				   </div>
 				</li>
				 <li>
                   <div class="contact">
				     <i class="fa fa-envelope" aria-hidden="true"></i>
					 <p> fitnessPower@gmail.com <br> FITNESSPOWER@yourcompany.com </p>
				   </div>
 				</li>
				 <li>
                   <div class="contact">
				     <i class="fa fa-mobile" aria-hidden="true"></i>
					 <p> +91 9876543210 <br> +91 5689452158 </p>
				   </div>
 				</li>
			  
			  </ul>
            </div>			
		  </div>
		   <div class="col-md-4">
		     <div class="form-box-inner">
			    <form action="" method="">
				   <div class="form-group">
				     <input type="text" class="form-control" for="" name="" value="" placeholder="Your name">
				   </div>
				   <div class="form-group">
				     <input type="email" class="form-control" for="" name="" value="" placeholder="Your email">
				   </div>
				   <div class="form-group">
				     <input type="text" class="form-control" for="" name="" value="" placeholder="Your number">
				   </div>
				    <div class="form-group">
				    <textarea rows="4" cols="50" class="form-control" placeholder="Describe yourself here..."></textarea>
				   </div>
				   <button class="btn custom-button"> Contact me </button>
				</form>
			 </div>
		   </div>
		   
		   <div class="col-md-4">
		     <div class="map-box">
			  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235526.90924712367!2d75.7237618214095!3d22.724228429904368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcad1b410ddb%3A0x96ec4da356240f4!2sIndore%2C+Madhya+Pradesh!5e0!3m2!1sen!2sin!4v1564059499022!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			 </div>
		   </div>
		   
		</div>
	  </div>
	</section>