<section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text">
                  <h2>INSCRIPTION</h2>
                  <div class="breadcrumb-option">
                      <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                      <span>INSCRIPTION</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section style="background-color: rgba(128, 128, 128, 0.11);" class="register-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="register-text">
                  <div class="section-title">
                      <h2>Inscrivez-vous </h2>
                  </div>
                    <form class="register-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="row">
                          <div class="col-lg-6">
                            <label>Nom</label>
                            <input type="text" name="nom" class="form-control" placeholder="Enter votre nom" [(ngModel)]="form.nom" required nom #nom="ngModel">
                           </div>
                        </div>

                          <div class="col-lg-6">
                            <label>Prenom</label>
                             <input type="text" class="form-control" name="prenom" placeholder="Enter votre prenom " [(ngModel)]="form.prenom " required prenom #prenom="ngModel">
                        </div>

                        <div class="col-lg-6">
                            <label for="datenaiss">Date de Naissance</label>
                            <input type="date" autocomplete="date" class="form-control" name="datenaiss" [(ngModel)]="form.datenaiss" required #datenaiss="ngModel" />

                        </div>

                        <div class="col-lg-6">
                            <label>Email </label>
                            <input type="email " class="form-control" name="email" placeholder=" Enter votre email " [(ngModel)]="form.email " required email #email="ngModel">
                        </div>

                        <div class="col-lg-6">
                            <label>Mots De Passe </label>
                            <input type="password " class="form-control" name="password" placeholder="Entrer votre Password " [(ngModel)]="form.password " required password #password="ngModel">
                        </div>

                        <div class="col-lg-6">
                            <label for="telephone">Telephone</label>
                            <input type="number" autocomplete="telephone" class="form-control" name="telephone" [(ngModel)]="form.telephone" required telephone #telephone="ngModel" />
                            <div *ngIf="f.submitted && telephone.invalid">
                            </div>
                        </div>



                        <div class="col-lg-6">
                            <label for="poids">Poids</label>
                            <input type="text" autocomplete="off" class="form-control" name="poids" [(ngModel)]="form.poids" #poids="ngModel" required>
                            <div *ngIf="f.submitted && poids.invalid">
                            </div>
                        </div>



                      <button type="submit" class="register-btn"> Créer un compte</button>

                      <div style="text-align:center">
                        <p>Avez-vous déjà un compte? <a routerLink="/loginuser"> Se Connecter.</a></p>
                      </div>

                    </form>
                  </div>
           </div>
           <div class="col-lg-4">
            <div class="register-pic">
                <img src="assets/img/image1.jpg" alt="" style="margin: 60px ;">
            </div>
        </div>

           </div>
          </div>
          </section>


