<h2>Upload Image In Angular</h2>
<div class="container">
  <img [src]="url" title="Profile Picture" height="150px" width="150px" />
  <input
    type="file"
    id="img"
    style="display:none"
    accept="image/*"
    (change)="onSelect($event)"
  />
  <label for="img">Upload Image</label>
</div>
