.container {
  display: flex;
  flex-direction: column;
}
label {
  background-color: rgb(255, 255, 255);
  border: solid 4px rgb(10, 112, 10);
  border-radius: 10px;
  color: green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 6px 7px;
  cursor: pointer;
  width: 100px;
  height: 15px;
}
