<table class="table table-bordered">
    <thead>
        <tr>

            <th>nom</th>
            <th>prenom</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>poids</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let utilisateur of utilisateur; let i = index" [class.active]="i == curIndex" (click)="setActiveUS(utilisateur, i)">
        <tr>
            <td> {{ utilisateur.nom }}</td>
            <td> {{ utilisateur.prenom }}</td>
            <td> {{ utilisateur.datenaiss }}</td>
            <td> {{ utilisateur.email }}</td>
            <td> {{ utilisateur.telephone }}</td>
            <td> {{ utilisateur.poids }}</td>
            <td>
                <button style="background-color: darkgreen; "  class="btn btn-primary btn-user btn-block">Modifier</button>
                <!-- <a data-toggle="tooltip">Edite</a> -->
                <button style="background-color: darkred;" (click)="deleteUser()"  class="btn btn-primary btn-user btn-block"> Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>