

<form>
  <div class="mb-3"><label for="nom" class="form-label">Nom Evenement</label><input type="text"
      class="form-control" [(ngModel)]="eve.nomE"/>

  </div>
  <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Description</label><input type="text"
      class="form-control" id="exampleInputPassword1"  [(ngModel)]="eve.description"></div>

      <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Date</label><input type="date"
        class="form-control" id="exampleInputPassword1"  [(ngModel)]="eve.date"></div>

        <div class="mb-3"><label for="exampleInputPassword1" class="form-label" >Image</label><input type="text"
          class="form-control" id="exampleInputPassword1" placeholder="Entrer votre URL "  [(ngModel)]="eve.image"></div>

         <span class="btn btn-success btn-file m-5">
            Browse file
            <input type="file" (change)="selectFile($event)">

           </span>
          <img *ngIf ="url" [src]="url" alt="image">







          <button type="submit"
    class="btn btn-primary" (click)="add()">Submit</button>
</form>


