

<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="login-form">
    <form  *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <!-- <label for="exampleInputEmail1">Email</label> -->
            <input type="text" name="nom" class="form-control" placeholder="Enter votre nom" [(ngModel)]="form.email" required email #email="ngModel">
        </div>

        <div class="form-group">
            <!-- <label for="exampleInputPassword1">Password</label> -->
            <input type="password" name="password" class="form-control" placeholder="Entrer votre Password" [(ngModel)]="form.password" required password #password="ngModel">
        </div>
        <button style="background-color: aliceblue;" type="submit" class="btn oneMusic-btn mt-30">Se Connecter</button>
        <div class="form-group">

        </div>
    </form>

    <a routerLink="/register">Inscri-vous</a>
</div>