
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>ACTIVITÉS</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>ACTIVITÉS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<div class="card-deck" style="margin: 50px;">
  <div class="card">
    <img class="card-img-top" src="assets/img/activite/f.jpg" alt="">
    <div class="card-body">
      <br>
      <h5 class="card-title">FITNESS</h5>
      <p class="card-text">Le fitness  aussi appelé la gymnastique de forme1 ou l'entraînement physique, désigne un ensemble d'activités physiques permettant au pratiquant d'améliorer sa condition physique et son hygiène de vie, dans un souci de bien-être.</p>
    </div>
    <div class="card-footer">
      <div style="text-align:center">
      <small class="text-muted" >  <a routerLink="/fitness" class="btn btn-primary">LIRE LA SUITE </a></small>
    </div></div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/activite/zumb.jpg" alt="zumba">
    <div class="card-body">
      <br>
      <h5 class="card-title">ZUMBA</h5>
      <p class="card-text">La Zumba est un programme d'entraînement physique complet, alliant tous les éléments de la remise en forme : cardio et préparation musculaire, équilibre et flexibilité.</p>
    </div>
    <div class="card-footer">
      <div style="text-align:center">
      <small class="text-muted"> <a href="/zumba" class="btn btn-primary">LIRE LA SUITE </a></small>
    </div></div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/activite/tek.jpg" alt="Circuit minceur">
    <div class="card-body">
      <br>
      <h5 class="card-title">TAEKWANDO</h5>
      <p class="card-text">Le taekwondo est un art martial originaire de Corée du Sud qui peut se traduire par: "La voie du pied et du poing". Les pratiquants de taekwondo, qu'on appelle des taekwondoïstes, utilisent beaucoup de coups de pieds spectaculaires, mais apprennent aussi d'autres techniques de combat.</p>
    </div>
    <div class="card-footer">
      <div style="text-align:center">
      <small class="text-muted"> <a href="/taekwondo" class="btn btn-primary">LIRE LA SUITE </a></small>
    </div></div>
  </div>

  <div class="card-deck" style="margin: 50px;">
    <div class="card">
      <img class="card-img-top" src="assets/img/activite/bodyattack.jpg" alt="bodyattack">
      <div class="card-body">
        <br>  <br> <br>
        <h5 class="card-title">BODYATTACK</h5>
        <p class="card-text">Le BODY ATTACK est un cours de fitness énergisant avec des mouvements qui s’adressent aussi bien aux débutants qu’aux passionnés.</p>
      </div>
      <div class="card-footer">
        <div style="text-align:center">
        <small class="text-muted" >  <a routerLink="/bodyattack" class="btn btn-primary">LIRE LA SUITE </a></small>
      </div></div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/activite/bodycombat.jpg" alt="bodycombat">
      <div class="card-body">
        <br>  <br>
        <h5 class="card-title">BODYCOMBAT</h5>
        <p class="card-text">Le BODYCOMBAT est un cours de fitness pré-chorégraphié de forte intensité basé sur des mouvements d'arts martiaux et d'autres sports de combats.</p>
      </div>
      <div class="card-footer">
        <div style="text-align:center">
        <small class="text-muted"> <a href="/bodycombat" class="btn btn-primary">LIRE LA SUITE </a></small>
      </div></div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/activite/rpm.jpeg" alt="Circuit minceur">
      <div class="card-body">
        <h5 class="card-title">RPM </h5>
        <p class="card-text">Le RPM (Round Per Minute), aussi appelé le cycling ou « spinning », est un sport de vélo d’intérieur inventé dans les années 1990 aux États-Unis. Ce nouveau sport est connu pour être un sport extrême et brûleur de graisses. Il s'agit donc d'un choix judicieux si vous voulez perdre du poids.</p>
      </div>
      <div class="card-footer">
        <div style="text-align:center">
        <small class="text-muted"> <a href="/rpm" class="btn btn-primary">LIRE LA SUITE </a></small>
      </div></div>
    </div>





</div>

